<footer
  class="text-center bg-neutral-200 dark:bg-neutral-700 lg:text-left" style="position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;">
  <div class="p-4 text-center text-neutral-700 dark:text-neutral-200">
    © 2023 Copyright
  </div>
</footer>
