<footer class="text-center bg-neutral-200 dark:bg-neutral-700">
  <div class="p-4 text-center text-neutral-700 dark:text-neutral-200">
    <span class="text-center"> © <%= Date.current.year %> </span>
  </div>
</footer>
