<nav class="relative flex flex-no-wrap items-center justify-between w-full py-2 shadow-md bg-neutral-100 shadow-black/5 dark:bg-neutral-600 dark:shadow-black/10 lg:flex-wrap lg:justify-start lg:py-4" data-te-navbar-ref>
  <div class="flex flex-wrap items-center justify-between w-full px-3">
    <div class="flex items-center justify-between" id="links">
      <%= link_to 'Products', products_path, class: "nav-item" %>
    </div>
    <div class="flex items-center justify-between" id="links">
      <%= link_to 'Cart', cart_path, class: "nav-item" %>
    </div>
</nav>
